---
name: binaries

"on":
  push:
    branches:
      - master
    tags:
      - v*

jobs:
  binaries:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Configure aws
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Setup golang
        uses: actions/setup-go@v5
        with:
          go-version: ^1.23.0

      - name: Run generate
        run: make generate

      - name: Run release
        run: make release

      - name: Sign release
        uses: actionhippie/gpgsign@v1
        with:
          private_key: ${{ secrets.GNUPG_KEY }}
          passphrase: ${{ secrets.GNUPG_PASSWORD }}
          detach_sign: true
          files: dist/*
          excludes: dist/*.sha256

      - name: Upload release
        id: upload
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: dist/*

      - name: Upload version
        id: version
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          aws s3 sync dist/ s3://dl.gopad.eu/api/${{ github.ref_name }}/

      - name: Upload testing
        id: testing
        if: startsWith(github.ref, 'refs/heads/')
        run: |
          aws s3 sync dist/ s3://dl.gopad.eu/api/testing/

...
