---
name: general

"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup golang
        uses: actions/setup-go@v5
        with:
          go-version: ^1.22.0

      - name: Run vet
        run: make vet

      - name: Server golangci
        run: make golangci

      - name: Run staticcheck
        run: make staticcheck

      - name: Run lint
        run: make lint

      - name: Run build
        run: make build

      - name: Run test
        run: make test

      - name: Coverage report
        if: github.ref == 'refs/heads/master'
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.out
          force-coverage-parser: go

...
