---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: general

"on":
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup nodejs
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.x
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Setup task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run install
        run: task fe:install

      - name: Run generate
        run: task fe:generate

      - name: Run lint
        run: task fe:lint

      - name: Run unittest
        run: task fe:test

      - name: Run build
        run: task fe:build

      - name: Upload frontend
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: frontend
          path: pkg/frontend/files/
          retention-days: 1
          if-no-files-found: error

  backend:
    runs-on: ubuntu-latest
    needs: frontend

    steps:
      - name: Checkout source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup golang
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: go.mod

      - name: Setup task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch frontend
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: frontend
          path: pkg/frontend/files/

      - name: Run generate
        run: task be:generate

      - name: Run vet
        run: task be:vet

      - name: Server golangci
        run: task be:golangci

      - name: Run lint
        run: task be:lint

      - name: Run test
        run: task be:test

      - name: Run build
        run: task be:build

      - name: Coverage report
        if: github.ref == 'refs/heads/master'
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: coverage.out
          force-coverage-parser: go

...
