---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: openapi

"on":
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  openapi:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Configure aws
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Setup yq
        uses: chrisdickinson/setup-yq@3d931309f27270ebbafd53f2daee773a82ea1822 # v1.0.1
        with:
          yq-version: v4.45.1

      - name: Upload spec
        run: |
          aws s3 cp openapi/v1.yaml s3://dl.gopad.eu/openapi/$(yq -r .info.version openapi/v1.yaml).yaml

...
